body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 40px;
}

.navbar {
    border-bottom: 2px solid #900C3F;
}

section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #900C3F;
    border-color: #900C3F;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #700A2F;
}
